/** Webservice **/
.lpc_modal_relays_search_input, #lpc_layer_button_search {}

.lpc_layer_relay_wrapper {
    display: flex;
    gap: 12px;
    position: relative;
}

#lpc_layer_relays #lpc_modal_relays_search_address {}

#lpc_layer_relays #lpc_modal_relays_search_zipcode {}

#lpc_layer_relays #lpc_modal_relays_search_city {}

#lpc_layer_relays_loader {
    height: 15px;
    position: absolute;
    top: 14px;
    right: 4px;
}

.lpc_layer_relay_name {
    font-size: 14px;
    font-weight: bold;
}

.lpc_layer_relay_address {
    font-size: 11px;
    color: grey;
}

.lpc_layer_relay_address_street {
    display: block;
}

.lpc_layer_relay_distance {
    font-size: 14px;
    font-weight: bold;
}

.lpc_layer_relay .lpc_relay_marker, #lpc_chosen_relay .lpc_relay_marker {
    float: left;
    width: 12px;
    margin-right: 5px;
}

.lpc_layer_relay_warning_relay_type {
    margin-bottom: 1rem;
    color: #EC7407;
    text-align: center;
}

.lpc_closest_relay, .lpc_selected_relay_distance {
    font-weight: bold;
}

.lpc_selected_relay_line {
    font-size: 1rem;
}

.tooltip-box {
    position: relative;
    display: inline-block;
    color: #666;
    font-style: normal;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    width: 16px;
    background-image: url(../images/hour_icon.png);
    background-repeat: no-repeat;
    background-size: 16px;
    padding-bottom: 3px;
    margin-left: 6px;
}

.tooltip-box .tooltip-text {
    visibility: hidden;
    width: 225px;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    font-size: .8em;
    font-weight: normal;
    background: #333;
    border-radius: 3px;
    padding: 0.618em 1em;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}

.tooltip-box:hover .tooltip-text {
    visibility: visible;
}

.lpc_layer_relay_button_choose {
    margin: 1rem;
    float: right;
}

#lpc_layer_error_message {
    color: red;
}

.lpc_store_name {
    font-weight: bold;
    font-size: 14px;
    display: block;
}

.lpc_store_address {
    color: grey;
    font-size: 12px;
}

.lpc_store_schedule table td {
    padding: 0 2px 0 0;
    font-size: 12px;
}

.lpc_layer_relay_id,
.lpc_layer_relay_latitude,
.lpc_layer_relay_longitude,
.lpc_layer_relay_schedule,
.lpc_layer_relay_type,
.lpc_layer_relay_country_code,
.lpc_layer_relay_distance_nb,
.lpc_layer_relay_hour {
    display: none;
}

.lpc_show_relay_details, .lpc_relay_popup_choose {
    color: #06187c;
    text-decoration: underline;
    cursor: pointer;
}

.lpc_show_relay_details {
    font-size: 12px;
}

.lpc_relay_choose {
    padding: 5px 10px;
    margin-left: 5px;
}

#lpc_chosen_relay {
    display: block;
    margin: 15px 0;
    border-left: 2px solid #000;
    padding: 0 0 0 10px;
    line-height: normal;
}

#lpc_change_my_relay {
    color: #06187c;
    text-decoration: underline;
    cursor: pointer;
}

#lpc_map {
    height: 100%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#lpc_left {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

#lpc_right {
    overflow: hidden;
    padding: 20px 0;
    overflow-y: auto;
    max-height: 400px;
}

#lpc_layer_relay_switch_mobile {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100000;
    border-radius: 4px;
    background: #ee7203;
    height: 50px;
    width: 50px;
    box-shadow: 0 0 20px 0px rgb(255 255 255 / 10%);
}

#lpc_layer_relay_switch_mobile .lpc_layer_relay_switch_mobile_icon {
    left: 5px;
    top: 5px;
    position: relative;
}

#lpc_layer_relay_switch_mobile .lpc_layer_relay_switch_mobile_icon.lpc_layer_list_inactive {
    display: none;
}

#lpc_layer_relay_switch_mobile .lpc_layer_relay_switch_mobile_icon.lpc_layer_list_active {
    display: inline;
}

div#lpc_layer_list_relays {
    display: flex;
    flex-wrap: wrap;
}

@media all and (max-width: 1023px) {
    #lpc_right {
        width: 100%;
        height: auto;
        overflow: visible;
        padding-left: inherit;
        padding-top: 10px;
    }

    #lpc_left {
        width: 100%;
        height: 400px;
    }

    .lpc_layer_relay_address {
        float: left;
    }

    .lpc_relay_choose_btn {
        float: right;
    }

    .lpc_mobile_display_none {
        display: none;
    }

    #lpc_layer_relay_switch_mobile {
        display: block !important;
    }
}

#lpc_layer_relay_switch_mobile {
    display: none;
}

#lpc_modal_relays_display_more {
    float: right;
    max-width: 180px;
}

@media screen and (max-width: 768px) {
    .tooltip-box {
        display: none;
    }
}

/** Widget **/
@media all and (min-width: 1200px) {
    .checkout-index-index .lpc_modals-wrapper ._show_lpc_relay .modal-inner-wrap {
        margin-left: 0;
        left: 10%;
        min-width: 1080px;
        min-height: 570px;
    }

    .lpc_layer_relay {
        width: calc(50% - 12px);
        padding: 6px;
    }
}

@media all and (max-width: 1199px) {
    .checkout-index-index .lpc_modals-wrapper ._show_lpc_relay .modal-inner-wrap {
        width: 100%;
        margin-left: 0;
        left: 0;
        min-height: 600px;
    }

    #lpc_modal_relays_display_more {
        margin-bottom: 1rem;
        float: left;
    }

    .lpc_layer_relay_wrapper {
        gap: 6px;
        flex-direction: column;
    }

    div#lpc_layer_list_relays {
        flex-direction: column;
    }

    .lpc_layer_relay {
        border-bottom: 1px solid #ccc;
        padding-bottom: 6px;
        margin-bottom: 6px;
    }
}

/** Icon **/
.lpc_method_icon {
    width: 40px;
}

.table-checkout-shipping-method tbody td.col-icon {
    padding: 0px;
    vertical-align: middle;
}

/** Shipping notes **/
#opc-shipping_method [name='shippingAddress.lpc_shipping_note'] {
    display: none;
}

#opc-shipping_method [name='shippingAddress.lpc_shipping_note'] span {
    font-weight: bold;
}

#opc-shipping_method [name='shippingAddress.lpc_shipping_note'] div {
    margin-top: 5px;
    margin-bottom: 10px;
}