<?xml version="1.0"?>
<!--
/**
 * @author MgtWizards Team
 * @copyright Copyright (c) MgtWizards (https://shopwhizzy.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MgtWizards\Labels\Api\LabelRepositoryInterface" type="MgtWizards\Labels\Model\LabelRepository"/>
    <preference for="MgtWizards\Labels\Api\Data\LabelInterface" type="MgtWizards\Labels\Model\Label" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mgtwizards_labels_listing_data_source" xsi:type="string">MgtWizards\Labels\Model\ResourceModel\Label\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="MgtWizards\Labels\Model\ResourceModel\Label\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">mgtwizards_label</argument>
            <argument name="eventPrefix" xsi:type="string">mgtwizards_labels_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">mgtwizards_labels_collection</argument>
            <argument name="resourceModel" xsi:type="string">MgtWizards\Labels\Model\ResourceModel\Label</argument>
        </arguments>
    </type>

    <virtualType name="MgtWizards\Labels\LabelImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">catalog/tmp/label</argument>
            <argument name="basePath" xsi:type="string">mgtwizards/label</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MgtWizards\Labels\Controller\Adminhtml\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">MgtWizards\Labels\LabelImageUpload</argument>
        </arguments>
    </type>
</config>
