<?xml version="1.0"?>
<!--
/**
 * @author MgtWizards Team
 * @copyright Copyright (c) MgtWizards (https://shopwhizzy.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MgtWizards_Labels">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogRule" />
        </sequence>
    </module>
</config>
