<?xml version="1.0"?>
<!--
/**
 * @author MgtWizards Team
 * @copyright Copyright (c) MgtWizards (https://shopwhizzy.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ImageFactory">
        <!-- sets product instance to image data -->
        <plugin name="mgtwizards_label" type="MgtWizards\Labels\Plugin\Catalog\Block\Product\ImageFactory" />
    </type>
    <type name="Magento\Catalog\Block\Product\Image">
        <!-- renders labels, takes product from image data -->
        <plugin name="mgtwizards_label" type="MgtWizards\Labels\Plugin\Catalog\Block\Product\Image" />
    </type>
</config>
