<?xml version="1.0"?>
<!--
/**
 * @author MgtWizards Team
 * @copyright Copyright (c) MgtWizards (https://shopwhizzy.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mgtwizards_labels" frontName="mgtwizards_labels">
            <module name="MgtWizards_Labels" />
        </route>
    </router>
</config>
