/**
 * different styles can be found at https://tailwindcss-forms.vercel.app/
 **/
.form-input,
.form-email,
.form-select,
.form-multiselect,
.form-textarea {
    @apply border text-whizzy-body bg-white border-whizzy-separator rounded-md shadow-sm min-h-a11y;

    &:focus {
        @apply border border-whizzy-separator ring-0 outline-none;
    }
}

#cart-form .form-input {
    @apply bg-transparent border-0 shadow-none p-0 rounded-md min-h-[14px];
}

select.form-input,
.form-select {
    @apply pr-10;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.743 12.781'%3E%3Cg transform='translate(-1345.51 -1162.3)'%3E%3Cg transform='translate(0 4)'%3E%3Cpath d='M1882.114,79.4,1886,75.519l3.881,3.881' transform='translate(-535.614 1083.481)' fill='none' stroke='%23302422' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4'/%3E%3C/g%3E%3Cg transform='translate(1346.5 1170.5)'%3E%3Cpath d='M1889.877,75.519,1886,79.4l-3.881-3.881' transform='translate(-1882.114 -75.519)' fill='none' stroke='%23302422' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.4'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 10px 12px;
    background-position: right 1rem center;
}

[type='checkbox'],
[type='radio'] {
    @apply text-black ring-0 border-black w-5 h-5 rounded bg-transparent;

    &:focus,
    &:checked,
    &:hover {
        @apply ring-0 ring-transparent;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.336 8.561'%3E%3Cpath d='M-5689.935,9393.665l4.445,4.444,6.628-6.629' transform='translate(5691.066 -9390.35)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.6'/%3E%3C/svg%3E%0A");
        background-size: 13px auto;
        background-repeat: no-repeat;
        background-position: center;
    }
}