<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="popups" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Popups</label>
            <tab>mgtwizards</tab>
            <resource>MgtWizards_Popups::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Popups</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cookie_base_name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cookie Base Name</label>
                    <comment>Base name for popup cookies. Popup ID will be appended.</comment>
                </field>
            </group>
        </section>
    </system>
</config>