.mgtwizards-hint {
  background   : #f8f8f8;
  border       : 1px solid #8ba455;
  margin-bottom: 10px;
  padding      : 11px 0 10px 10px;
  color        : #676056;
  font         : 600 12px 'Open Sans', sans-serif;
}

.mgtwizards-hint .content {
  padding-left: 30px;
}

.mgtwizards-hint a,
.mgtwizards-hint a:visited,
.mgtwizards-hint a:active,
.mgtwizards-hint a:hover,
.mgtwizards-hint a:focus {
  color: #8ba455;
}

.mgtwizards-hint .module-name {
  color: #EA7601;
}

.mgtwizards-bestsellerscategory-products-chooser-grid {
  border  : solid 1px #ccc;
  margin  : 20px;
  padding : 15px 10px !important;
  overflow: auto;
}

.mgtwizards-bestsellers-products-chooser-grid .data-grid .data-grid-filters td {
  padding: 1rem;
}

.mgtwizards-bestsellers-products-chooser-grid .admin__data-grid-pager .admin__control-text {
  width: 4.4rem !important;
}

.mgtwizards-bestsellers-products-chooser-grid .admin__data-grid-pager-wrap .admin__control-select {
  width: auto !important;
}

.mgtwizards-bestsellers-products-chooser-grid .data-grid td {
  padding: 1rem 1rem !important;
}

.mgtwizards-bestsellers-products-chooser-grid .data-grid-checkbox-cell-inner:before {
  height: 40px !important;
}