<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="promotionpro" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Promotions</label>
            <tab>mgtwizards</tab>
            <resource>MgtWizards_Promotions::config_mgtwizards_promotions</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_ids" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Promotions Category</label>
                    <source_model>MgtWizards\Promotions\Model\Config\Source\Categories</source_model>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="regenerate_promotions" translate="label" type="button" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Regenerate Promotions</label>
                    <frontend_model>MgtWizards\Promotions\Block\Adminhtml\System\Config\Form\Field\Buttons</frontend_model>
                    <comment>Click to manually regenerate the promotions category products.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>