<div class="custom-summary-bottom">
    <ul class="checkout-trust-badges">
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor"
                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                aria-hidden="true">
                <path d="M5 14L8.5 17.5L19 6.5"></path>
            </svg>
            Veilig betalen
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor"
                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                aria-hidden="true">
                <path d="M5 14L8.5 17.5L19 6.5"></path>
            </svg>
            14 Dagen retour
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor"
                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                aria-hidden="true">
                <path d="M5 14L8.5 17.5L19 6.5"></path>
            </svg>
            20+ Jaar specialist in beveiliging
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor"
                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                aria-hidden="true">
                <path d="M5 14L8.5 17.5L19 6.5"></path>
            </svg>
            Technische ondersteuning beschikbaar
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor"
                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                aria-hidden="true">
                <path d="M5 14L8.5 17.5L19 6.5"></path>
            </svg>
            Snelle levering
        </li>
    </ul>
</div>
<style>
    .checkout-trust-badges {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .checkout-trust-badges li {
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        color: #14532d;
        margin-bottom: 0;
    }

    .checkout-trust-badges li:last-child {
        margin-bottom: 0;
    }

    .checkout-trust-badges svg {
        color: #15803d;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }
</style>